# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# PM2
.pm2/



/.wwebjs_auth/session/Crashpad/metadata
/.wwebjs_auth/session/Crashpad/settings.dat
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_0
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_1
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_2
/.wwebjs_auth/session/Default/Cache/Cache_Data/data_3
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a0
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a1
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a2
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a3
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a4
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a5
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a6
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a7
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a8
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000a9
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000aa
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000ab
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000ac
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000ad
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000ae
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000af
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000b0
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000b1
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000b2
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000b3
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_0000b4
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00000f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00001f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000001
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00002f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000002
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00003f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000003
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00004f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000004
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000005
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000006
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00007a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00007b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00007c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00007d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00007e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00007f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000007
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00008a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00008b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00008c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00008d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00008e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00008f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000008
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00009a
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00009b
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00009c
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00009d
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00009e
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_00009f
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000009
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000010
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000011
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000012
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000013
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000014
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000015
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000016
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000017
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000018
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000019
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000020
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000021
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000022
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000023
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000024
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000025
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000026
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000027
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000028
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000029
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000030
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000031
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000032
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000033
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000034
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000035
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000036
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000037
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000038
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000039
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000040
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000041
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000042
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000043
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000044
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000045
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000046
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000047
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000048
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000049
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000050
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000051
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000052
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000053
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000054
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000055
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000056
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000057
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000058
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000059
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000060
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000061
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000062
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000063
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000064
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000065
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000066
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000067
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000068
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000069
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000070
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000071
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000072
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000073
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000074
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000075
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000076
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000077
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000078
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000079
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000080
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000081
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000082
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000083
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000084
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000085
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000086
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000087
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000088
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000089
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000090
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000091
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000092
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000093
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000094
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000095
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000096
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000097
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000098
/.wwebjs_auth/session/Default/Cache/Cache_Data/f_000099
/.wwebjs_auth/session/Default/Cache/Cache_Data/index
/.wwebjs_auth/session/Default/Code Cache/js/index-dir/the-real-index
/.wwebjs_auth/session/Default/Code Cache/js/0aee67926d9a07b3_0
/.wwebjs_auth/session/Default/Code Cache/js/0c7febe997632a56_0
/.wwebjs_auth/session/Default/Code Cache/js/0ef89d9a57d9cfe9_0
/.wwebjs_auth/session/Default/Code Cache/js/1b37c05189e12c80_0
/.wwebjs_auth/session/Default/Code Cache/js/2b006a33c24e728a_0
/.wwebjs_auth/session/Default/Code Cache/js/2f0f4659aa25a676_0
/.wwebjs_auth/session/Default/Code Cache/js/3c4d18d8e6682832_0
/.wwebjs_auth/session/Default/Code Cache/js/3e4d731c8708338e_0
/.wwebjs_auth/session/Default/Code Cache/js/6a1cd48b1d5c3d93_0
/.wwebjs_auth/session/Default/Code Cache/js/7dfd1deac9a4f796_0
/.wwebjs_auth/session/Default/Code Cache/js/8bdfe4a763a59bd6_0
/.wwebjs_auth/session/Default/Code Cache/js/9bdc2ae153ecfba4_0
/.wwebjs_auth/session/Default/Code Cache/js/9d236bfabea29f14_0
/.wwebjs_auth/session/Default/Code Cache/js/9e9516c3698f67fe_0
/.wwebjs_auth/session/Default/Code Cache/js/20f2a24b0db2ef0f_0
/.wwebjs_auth/session/Default/Code Cache/js/34a06f4c6256f80e_0
/.wwebjs_auth/session/Default/Code Cache/js/62eb279b982893d6_0
/.wwebjs_auth/session/Default/Code Cache/js/082b72ebce7bbefc_0
/.wwebjs_auth/session/Default/Code Cache/js/85ee5cb494512612_0
/.wwebjs_auth/session/Default/Code Cache/js/266ea8328d631cfe_0
/.wwebjs_auth/session/Default/Code Cache/js/356aefe7af75c4ea_0
/.wwebjs_auth/session/Default/Code Cache/js/605b4fa5b47981eb_0
/.wwebjs_auth/session/Default/Code Cache/js/874cc085f5467e31_0
/.wwebjs_auth/session/Default/Code Cache/js/896d703a26588b83_0
/.wwebjs_auth/session/Default/Code Cache/js/987c70581971c666_0
/.wwebjs_auth/session/Default/Code Cache/js/1783c27fb9dbced7_0
/.wwebjs_auth/session/Default/Code Cache/js/1785a5b7a59f4f02_0
/.wwebjs_auth/session/Default/Code Cache/js/5001f028232ccfba_0
/.wwebjs_auth/session/Default/Code Cache/js/9247f1b484736ea0_0
/.wwebjs_auth/session/Default/Code Cache/js/64797bf3b9b9b2a0_0
/.wwebjs_auth/session/Default/Code Cache/js/74497dba7dae8512_0
/.wwebjs_auth/session/Default/Code Cache/js/270218f1f970e8c4_0
/.wwebjs_auth/session/Default/Code Cache/js/438415d1c8746730_0
/.wwebjs_auth/session/Default/Code Cache/js/475159e8879ef06c_0
/.wwebjs_auth/session/Default/Code Cache/js/96663913005311bd_0
/.wwebjs_auth/session/Default/Code Cache/js/ab433a34be4ce772_0
/.wwebjs_auth/session/Default/Code Cache/js/b07dada3425ab433_0
/.wwebjs_auth/session/Default/Code Cache/js/b34dc0115e1e411e_0
/.wwebjs_auth/session/Default/Code Cache/js/c23a8a41fdf39d85_0
/.wwebjs_auth/session/Default/Code Cache/js/cb403903ff6be063_0
/.wwebjs_auth/session/Default/Code Cache/js/db9d4d2c34dd4049_0
/.wwebjs_auth/session/Default/Code Cache/js/dc7e2d437e9a5fd6_0
/.wwebjs_auth/session/Default/Code Cache/js/dc90ae5816cdae22_0
/.wwebjs_auth/session/Default/Code Cache/js/e2ced6a164a0d30d_0
/.wwebjs_auth/session/Default/Code Cache/js/e2ec51dc0da16041_0
/.wwebjs_auth/session/Default/Code Cache/js/e5b86638da7f1c11_0
/.wwebjs_auth/session/Default/Code Cache/js/ed0cd74f5ba2ac28_0
/.wwebjs_auth/session/Default/Code Cache/js/f9d292c3a361b78a_0
/.wwebjs_auth/session/Default/Code Cache/js/f66e355d016d8431_0
/.wwebjs_auth/session/Default/Code Cache/js/f066b2e1a04b523e_0
/.wwebjs_auth/session/Default/Code Cache/js/f5981e1b408e55f5_0
/.wwebjs_auth/session/Default/Code Cache/js/index
/.wwebjs_auth/session/Default/Code Cache/wasm/index-dir/the-real-index
/.wwebjs_auth/session/Default/Code Cache/wasm/index
/.wwebjs_auth/session/Default/databases/Databases.db
/.wwebjs_auth/session/Default/databases/Databases.db-journal
/.wwebjs_auth/session/Default/DawnCache/data_0
/.wwebjs_auth/session/Default/DawnCache/data_1
/.wwebjs_auth/session/Default/DawnCache/data_2
/.wwebjs_auth/session/Default/DawnCache/data_3
/.wwebjs_auth/session/Default/DawnCache/index
/.wwebjs_auth/session/Default/GPUCache/data_0
/.wwebjs_auth/session/Default/GPUCache/data_1
/.wwebjs_auth/session/Default/GPUCache/data_2
/.wwebjs_auth/session/Default/GPUCache/data_3
/.wwebjs_auth/session/Default/GPUCache/index
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000574.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000590.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000606.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000622.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000651.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000667.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000682.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000698.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000711.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000712.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000713.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000714.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000719.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000720.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000721.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000722.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000723.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000724.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000725.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000726.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000727.ldb
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/CURRENT
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOCK
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG.old
/.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/MANIFEST-000001
/.wwebjs_auth/session/Default/Local Storage/leveldb/000005.ldb
/.wwebjs_auth/session/Default/Local Storage/leveldb/000008.ldb
/.wwebjs_auth/session/Default/Local Storage/leveldb/000010.ldb
/.wwebjs_auth/session/Default/Local Storage/leveldb/CURRENT
/.wwebjs_auth/session/Default/Local Storage/leveldb/LOCK
/.wwebjs_auth/session/Default/Local Storage/leveldb/LOG
/.wwebjs_auth/session/Default/Local Storage/leveldb/LOG.old
/.wwebjs_auth/session/Default/Local Storage/leveldb/MANIFEST-000001
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/3d1990bf-88e9-484d-954d-309ac608872e/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/3d1990bf-88e9-484d-954d-309ac608872e/index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/6d9c11d9-92a4-4f60-bedd-53aff3c2ebd4/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/6d9c11d9-92a4-4f60-bedd-53aff3c2ebd4/2a2b7cbbc61290b4_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/6d9c11d9-92a4-4f60-bedd-53aff3c2ebd4/6ea66fa5b36b4157_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/6d9c11d9-92a4-4f60-bedd-53aff3c2ebd4/92172a9e586cee2a_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/6d9c11d9-92a4-4f60-bedd-53aff3c2ebd4/e6039a61e4d2a504_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/6d9c11d9-92a4-4f60-bedd-53aff3c2ebd4/index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/0e293693bde247a6_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/1be59a6ef069a377_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/1cd693fc77d19c8d_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/1d5651cfd5478458_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/3bb4ec4df5ba79b8_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/5da4bbd08e757d99_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/7a710064734c4c76_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/7be6588db55070a2_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/7f69d8889ee4c931_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/9ad4864e9d1adc56_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/21a0e7fab6460337_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/025a013186fb2195_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/38cf3630d6ce1f02_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/69c8462864b468e2_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/98d1d2679b4edd02_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/06103fb690a78c03_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/9872e08afca73651_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/83475349d0e0c0f4_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/6596477239ffdb5a_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/b1dc85c58521e25b_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/b1039d3f5947de37_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/ccbfb996d3158586_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/ce52125f8b3d5aa5_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/e7a22566b96caa90_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/e787e2be5d3c7989_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/ef635f5725b306dd_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/f1dc75a5dae95c68_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/f4ad1bac45676c6e_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/f5ad21fa1251ebc2_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/f7fa3b510c3fe430_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/f466c523236f8179_0
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/73b2c708-31d6-4cc7-90f2-c416cdfc3d05/index
/.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/index.txt
/.wwebjs_auth/session/Default/Service Worker/Database/CURRENT
/.wwebjs_auth/session/Default/Service Worker/Database/LOCK
/.wwebjs_auth/session/Default/Service Worker/Database/LOG
/.wwebjs_auth/session/Default/Service Worker/Database/LOG.old
/.wwebjs_auth/session/Default/Service Worker/Database/MANIFEST-000001
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/index-dir/the-real-index
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/6c038e3570d6abf1_0
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/6c038e3570d6abf1_1
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/f3ab1e1292e135fa_0
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/f3ab1e1292e135fa_1
/.wwebjs_auth/session/Default/Service Worker/ScriptCache/index
/.wwebjs_auth/session/Default/Session Storage/CURRENT
/.wwebjs_auth/session/Default/Session Storage/LOCK
/.wwebjs_auth/session/Default/Session Storage/LOG
/.wwebjs_auth/session/Default/Session Storage/LOG.old
/.wwebjs_auth/session/Default/Session Storage/MANIFEST-000001
/.wwebjs_auth/session/Default/shared_proto_db/metadata/CURRENT
/.wwebjs_auth/session/Default/shared_proto_db/metadata/LOCK
/.wwebjs_auth/session/Default/shared_proto_db/metadata/LOG
/.wwebjs_auth/session/Default/shared_proto_db/metadata/MANIFEST-000001
/.wwebjs_auth/session/Default/shared_proto_db/CURRENT
/.wwebjs_auth/session/Default/shared_proto_db/LOCK
/.wwebjs_auth/session/Default/shared_proto_db/LOG
/.wwebjs_auth/session/Default/shared_proto_db/MANIFEST-000001
/.wwebjs_auth/session/Default/VideoDecodeStats/LOCK
/.wwebjs_auth/session/Default/VideoDecodeStats/LOG
/.wwebjs_auth/session/Default/WebStorage/QuotaManager
/.wwebjs_auth/session/Default/WebStorage/QuotaManager-journal
/.wwebjs_auth/session/Default/Cookies
/.wwebjs_auth/session/Default/Cookies-journal
/.wwebjs_auth/session/DevToolsActivePort
/.wwebjs_cache/2.3000.1028001427.html
/.wwebjs_cache/2.3000.1028002637.html

